<ion-list>
  <ion-list-header>
    <ion-label>
      <ion-icon name="brush"></ion-icon>
      Theme
    </ion-label>
  </ion-list-header>
  
  <ion-item [formGroup]="settingsForm">
    <ion-label>Theme</ion-label>
    <ion-icon name="sunny" [color]="isDark ? 'dark' : 'primary'"></ion-icon>
    <ion-toggle color="light" (ionChange)="update()" class="ion-margin-horizontal" [formControlName]="'theme'"></ion-toggle>
    <ion-icon name="moon" [color]="isDark ? 'dark' : 'primary'"></ion-icon>
  </ion-item>
</ion-list>
